image: kubernetize/unbound:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
- {{this}}
{{/each}}
{{/if}}
manifests:
- image: kubernetize/unbound:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm32v7
  platform:
    os: linux
    architecture: arm
    variant: v7
- image: kubernetize/unbound:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm64v8
  platform:
    os: linux
    architecture: arm64
    variant: v8
- image: kubernetize/unbound:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}amd64
  platform:
    os: linux
    architecture: amd64
